@using Caterer_DB.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @section Scripts{
        $('#topnavbar').affix({
        offset: {
        top: $('#banner').height()
        }
        });
    }
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="navbar  navbar-fixed-top" id="topnavbar">
        <div class="container" id="banner">
            <div class="row">
                <img class="img-responsive" src="~/Content/Images/banner.png" />
            </div>
        </div>
        <div class="navbar-default">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Start", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "StartButton" })
                </div>
                <div class="navbar-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {

                        if (User.HatDasRecht(RechteResource.MenueCaterer))
                        {
                            <ul class="nav navbar-nav">
                                <li class="dropdown" , id="DropdownManageCaterer">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Caterer<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Caterer anzeigen", "IndexCaterer", "Benutzer", null, new { id = "CatererAnzeigen" })</li>
                                        <li>@Html.ActionLink("Caterer hinzufügen", "CreateCaterer", "Benutzer", null, new { id = "CatererHinzufügen" })</li>
                                    </ul>
                                </li>
                                <li class="dropdown" , id="DropdownManageFragebogen">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Fragebogen<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Veröffentlichte Fragen anzeigen", "IndexVeroeffentlicht", "Frage", null, new { id = "FrageAnzeigenVeroeffentlicht" })</li>
                                        <li>@Html.ActionLink("Neue Fragen anzeigen", "Index", "Frage", null, new { id = "FragenAnzeigen" })</li>
                                        <li>@Html.ActionLink("Neue Fragen hinzufügen", "Create", "Frage", null, new { id = "FragenHinzufügen" })</li>
                                        @if (User.HatDasRecht(RechteResource.IndexKategorie) || User.HatDasRecht(RechteResource.CreateKategorie))
                                        {
                                            <li class="divider"></li>
                                        }
                                        @if (User.HatDasRecht(RechteResource.CreateKategorie))
                                        {
                                            <li>@Html.ActionLink("Kategorien anzeigen", "Index", "Kategorie", null, new { id = "KategorieAnzeigen" })</li>
                                        }
                                        @if (User.HatDasRecht(RechteResource.IndexKategorie))
                                        {
                                            <li>@Html.ActionLink("Kategorie hinzufügen", "Create", "Kategorie", null, new { id = "KategorieHinzufügen" })</li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav">
                                <li class="dropdown" , id="DropdownManageFragebogen">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Fragebogen<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Fragebogen bearbeiten", "Details", "Fragebogen", null, new { id = "FragebogenBearbeiten" })</li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="spacer">
            &nbsp;
        </div>

        <div class="mybg">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <div class="row bg-white" style="background-color:white">
                <div class="col-md-4">
                    <img class="center-block" src="~/Content/Images/ML Logo Förderung 197 frei.png" />
                </div>
                <div class="col-md-4">
                    <ul class="navbar nav nav-justified">
                        <li><a href="/Home/AGB" id="AGB">AGB</a></li>
                        <li><a href="/Home/Datenschutz" id="Datenschutz">Datenschutz</a></li>
                        <li><a href="/Home/Contact" id="Kontakt">Kontakt</a></li>
                        <li><a href="/Home/Impressum" id="Impressum">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>