
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown", id="DropdownLogout">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class='glyphicon glyphicon-user'></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="Ausloggen" href="javascript:document.getElementById('logoutForm').submit()">Ausloggen</a></li>
                    <li>@Html.ActionLink("Meine Details", "MyData", "Benutzer", new { Id = User.BenutzerId }, null)</li>
                   
                </ul>
            </li>


            <li class="dropdown", id="DropdownServiceLogin">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class='glyphicon glyphicon-info-sign'></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("AGB", "AGB", "Home", new { id = "DropdownAGBLogin" }, null)</li>
                    <li>@Html.ActionLink("Datenschutz", "Datenschutz", "Home", new { id = "DropdownDatenschutzLogin" }, null)</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home", new { id = "DropdownKontaktLogin" }, null)</li>
                    <li>@Html.ActionLink("Impressum", "Impressum", "Home", new { id = "DropdownImpressumLogin" }, null)</li>
                </ul>
            </li>
        </ul>
    }
}
else
{
   
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown", id="DropdownLogin">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class='glyphicon glyphicon-user'></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLinkhead" })</li>
                <li>@Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
       
        
        <li class="dropdown", id="DropdownServiceLogout">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class='glyphicon glyphicon-info-sign'></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("AGB", "AGB", "Home", new { id = "DropdownAGBLogout" }, null)</li>
                <li>@Html.ActionLink("Datenschutz", "Datenschutz", "Home", new { id = "DropdownDatenschutzLogout" }, null)</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home", new { id = "DropdownKontaktLogout" }, null)</li>
                <li>@Html.ActionLink("Impressum", "Impressum", "Home", new { id = "DropdownImpressumLogout" }, null)</li>
            </ul>
        </li>
    </ul>
}
