@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown", id="DropdownLogout">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class='glyphicon glyphicon-user'></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="Ausloggen" href="javascript:document.getElementById('logoutForm').submit()">Ausloggen</a></li>
                   
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class='glyphicon glyphicon-info-sign'></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("AGB", "AGB", "Home")</li>
                    <li>@Html.ActionLink("Datenschutz", "Datenschutz", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Impressum", "Contact", "Home")</li>
                </ul>
            </li>
        </ul>
    }
}
else
{
   
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown", id="DropdownLogin">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class='glyphicon glyphicon-user'></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
       
        
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class='glyphicon glyphicon-info-sign'></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("AGB", "AGB", "Home")</li>
                <li>@Html.ActionLink("Datenschutz", "Datenschutz", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                <li>@Html.ActionLink("Impressum", "Contact", "Home")</li>
            </ul>
        </li>
    </ul>
}
