@using Caterer_DB.Models
@model DetailsKategorieViewModel

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<div class="row">
    <div id="CatererBearbeitenSeite" class="col-md-6 col-md-offset-3 text-center">
        <h1> Detailansicht Kategorie</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Kategorie: @Model.Bezeichnung</h4>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Fragen.Count()!=0)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Fragen dieser Kategorie</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                        @foreach (var item in Model.Fragen)
                        {
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    @Html.DisplayFor(modelitem => item.Bezeichnung)
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <a class="btn btn-default btn-block" id="btnEdit" href="@Url.Action("Edit", "Kategorie", new {id = Model.KategorieId})">
            Kategorie bearbeiten
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-block" id="btnZurück" href="@Url.Action("Index", "Kategorie", new {id = Model.KategorieId})"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
    </div>
</div>











@*<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled list-inline  text-center">
            <li>
                <a class="btn btn-default" id="btnEdit" href="@Url.Action("Edit", "Kategorie", new {id = Model.KategorieId})">
                    Kategorie bearbeiten
                </a>
            </li>
            <li>
                <a class="btn btn-default" id="btnZurück" href="@Url.Action("Index", "Kategorie", new {id = Model.KategorieId})"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
            </li>
        </ul>
    </div>
</div>*@