@using Caterer_DB.Models
@model CreateFrageViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Frage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Bezeichnung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bezeichnung, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="+" name="btnAddAnswer" class="btn btn-default" />
            </div>
        </div>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Antworten.Count; i++)
            {
                <div class="form-group">
                    @Html.HiddenFor(Model => Model.Antworten[i].AntwortId)
                    <label class="control-label col-md-2"> Antwort @(i + 1) </label>
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.Antworten[i].Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
            }
        }
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" name="btnCreateQuestion" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
