
@model Caterer_DB.ViewModel.DetailsFrageViewModel

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<div class="row">
    <div id="RegSeite" class="col-md-6 col-md-offset-3 text-center">
        <h1>Detailansicht Fragen</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-lg">
                    <div>
                        <dl class="text-center">

                            <dd>
                                @Html.DisplayFor(model => model.Bezeichnung)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Antworten.Count() != 0)
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                        <div>
                            @foreach (var item in Model.Antworten)
                            {
                                <dl class="text-center">
                                    <dd>
                                        @Html.DisplayFor(modelitem => item.Bezeichnung)
                                    </dd>

                                </dl>
                                    <hr />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-default btn-block" id="btnEdit" href="@Url.Action("Edit", "Frage", new {id = Model.FrageId})">
            Frage bearbeiten
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block" id="btnZurück" href="@Url.Action("Index", "Frage", new {id = Model.FrageId})"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <ul class="list-unstyled list-inline ">
                <li>
                    <a class="btn btn-default" id="btnEdit" href="@Url.Action("Edit", "Frage", new {id = Model.FrageId})">
                        Frage bearbeiten
                    </a>
                </li>
                <li>
                    <a class="btn btn-default" id="btnZurück" href="@Url.Action("Index", "Frage", new {id = Model.FrageId})"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
                </li>
            </ul>
        </div>
    </div>*@