@using Caterer_DB.Models
@model EditFrageViewModel

@{
    ViewBag.Title = "Edit";
}

<br />
<br />
<br />
<div class="row">
    <div id="CatererBearbeitenSeite" class="col-md-6 col-md-offset-3 text-center">
        <h1>Frage bearbeiten</h1>
    </div>
</div>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()












    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FrageId)
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                @Html.LabelFor(model => model.Bezeichnung, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bezeichnung, "", new { @class = "text-danger" })
            </div>
        </div>


        @for (int i = 0; i < Model.Antworten.Count; i++)
        {
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    @Html.HiddenFor(Model => Model.Antworten[i].AntwortId)
                    <label class="control-label col-md-0"> Antwort @(i + 1) </label>
                    @Html.EditorFor(Model => Model.Antworten[i].Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>
        }      
    </div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <ul class="list-unstyled list-inline " style="margin-left: -5px;">
            <li>
                <button type="submit" id="btnSpeichern" name="btnSave" value="Speichern" class="btn btn-default">
                    <i class="glyphicon glyphicon-ok"></i> Speichern
                </button>
            </li>
           
            <li>
                <a class="btn btn-default" id="btnZurück" href="@Url.Action("Index", "Frage", new {id = Model.FrageId})"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-right">
        <ul class="list-unstyled list-inline " style="margin-right: 0px;">
            <li>
                <button id="LöschenButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#deleteModal">
                    <i class="glyphicon glyphicon-trash"></i> Konto löschen
                </button>
            </li>
        </ul>
    </div>
</div>

}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
