@model IEnumerable<DataAccess.Model.Frage>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<div class="row">
    <div id="CatererSeite" class="col-md-4 col-md-offset-4 text-center">
        <h1>Neue Fragen</h1>
    </div>
</div>
<div style="margin-top: 15px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul class="list-unstyled list-inline col-md-12" style="margin-left: -5px;">
                    <li>
                        <a id="btnFrageErstellen" href="@Url.Action("Create", "Frage")" na name="btnErstellen" type="submit" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i> Neue Frage
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 15px"></div>
            <div class="row" id="BenutzerIndexPartial">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <table class="table table-striped">

                            @foreach (var item in Model)

                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bezeichnung)
                                    </td>
                                    <td align="right">
                                        <a class="btn btn-default" href="@Url.Action("Details", "Frage", new {id = item.FrageId})" title="Details"><i class="glyphicon glyphicon-search"></i></a>                                      
                                    </td>
                                    <td align="left">                                 
                                        <a class="btn btn-default" href="@Url.Action("Edit", "Frage", new { id = item.FrageId})" title="Bearbeiten"><i class="glyphicon glyphicon-pencil"></i></a>
                                    </td>
                                </tr>
                                <tr></tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




















@*<div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Bezeichnung)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bezeichnung)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.FrageId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.FrageId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.FrageId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>*@
