@using Caterer_DB.Models
@model BearbeiteFragebogenViewModel

@{
    ViewBag.Title = "Fragebogen";
}
@using (Html.BeginForm())
            {
    <div class="row">
        <nav class="sidebar hidden-xs hidden-sm" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" id="Fragebogen">
                <br />
                <br />
                <br />
                <br />
                @for (int i = 0; i < Model.Fragen.Count; i++)
                {
                    <li>
                        <a href="#@Model.Fragen[i].Name">@Model.Fragen[i].Name</a>
                    </li>
                }
                <br />
                <hr />
            </ul>
            <button type="submit" id="btnSpeichernFragen1" name="btnSave" value="Speichern" class="btn btn-default btn-block">
                <i class="glyphicon glyphicon-ok"></i> Speichern
            </button>
            <br />
            <a class="btn btn-default btn-block" href="/home/index"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
        </nav>
        <div class="col-md-9 col-md-offset-2">
            <br />
            <br />
            <div class="row">
                <div id="Fragebogen" class="col-md-6 col-md-offset-3 text-center">
                    <h1>Fragebogen</h1>
                    <br />
                </div>
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @for (int i = 0; i < Model.Fragen.Count; i++)
            {
                <div class="well-lg col-md-12 col-md-offset-0" style="z-index:@(Model.Fragen.Count -i) ">
                    @Html.HiddenFor(m => m.Fragen[i].ID)
                    <div id="@Model.Fragen[i].Name" style="padding-top: 160px; margin-top: -160px; ">
                        @Html.HiddenFor(m => m.Fragen[i].Name)
                        <h3> @Html.DisplayFor(m => m.Fragen[i].Name) </h3>
                        <hr />
                        @for (int j = 0; j < Model.Fragen[i].Questions.Count; j++)
                    {
                            <div class="row">
                                <div class="col-lg-12 col-lg-offset-0">
                                    <div class="well well-lg-weiss">
                                        @Html.HiddenFor(m => m.Fragen[i].Questions[j].ID)
                                        @Html.HiddenFor(m => m.Fragen[i].Questions[j].IstMultiSelect)
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-md-11 text-left">
                                                    @Html.DisplayFor(m => m.Fragen[i].Questions[j].Text)
                                                </label>
                                            </div>
                                        </div>
                                        @if (!Model.Fragen[i].Questions[j].IstMultiSelect)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="funkyradio">
                                                        @for (int k = 0; k < Model.Fragen[i].Questions[j].Antworten.Count; k++)
                                                        {
                                                            @Html.HiddenFor(m => m.Fragen[i].Questions[j].Antworten[k].AntwortId)
                                                            @Html.HiddenFor(m => m.Fragen[i].Questions[j].Antworten[k].Bezeichnung)
                                                            <div class="funkyradio-primary">
                                                                @Html.RadioButtonFor(m => m.Fragen[i].Questions[j].GegebeneAntwort, Model.Fragen[i].Questions[j].Antworten[k].AntwortId, new { id = Model.Fragen[i].Questions[j].Antworten[k].AntwortId })
                                                                <label for="@Model.Fragen[i].Questions[j].Antworten[k].AntwortId">@Model.Fragen[i].Questions[j].Antworten[k].Bezeichnung</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>(Mehrfachauswahl möglich)</p>
                                                    <div class="funkyradio">
                                                        @for (int k = 0; k < Model.Fragen[i].Questions[j].Antworten.Count; k++)
                                                        {
                                                            @Html.HiddenFor(m => m.Fragen[i].Questions[j].Antworten[k].AntwortId)
                                                            @Html.HiddenFor(m => m.Fragen[i].Questions[j].Antworten[k].Bezeichnung)
                                                            <div class="funkyradio-primary">
                                                                @Html.CheckBoxFor(m => m.Fragen[i].Questions[j].Antworten[k].IsChecked, new { id = Model.Fragen[i].Questions[j].Antworten[k].AntwortId })
                                                                <label for="@Model.Fragen[i].Questions[j].Antworten[k].AntwortId">@Model.Fragen[i].Questions[j].Antworten[k].Bezeichnung</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Fragen[i].Questions[j].GegebeneAntwort)
                        }
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-0" style="background-color:transparent">
                    <br />
                </div>
            }
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="well well-lg">

                        <h2>Sonstiges</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"  style="word-wrap:break-word">

                                    @Html.TextAreaFor(model => model.Sonstiges, new { rows = 6, columns = 40, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Sonstiges, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="list-unstyled list-inline " style="margin-left: -5px;">
                        <li>
                            <button type="submit" id="btnSpeichernFragen2" name="btnSave" value="Speichern" class="btn btn-default">
                                <i class="glyphicon glyphicon-ok"></i> Speichern
                            </button>
                        </li>
                        <li>
                            <a class="btn btn-default" href="/home/index"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}