@model Caterer_DB.Models.ForgottenPasswordCreateNewPasswordViewModel

@{
    ViewBag.Title = "View";
}

<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>Neues Passwort</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />
<br />




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BenutzerId)
        @Html.HiddenFor(model => model.Mail)


       


@* erste Zeile *@
        <div class="row">
            <div class="col-md-5 text-right">
                @Html.LabelFor(model => model.Passwort, htmlAttributes: new { @class = "text" })
            </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Passwort, new { htmlAttributes = new { @class = "form-control", placeholder = "neues Passwort" } })
                    @Html.ValidationMessageFor(model => model.Passwort, "", new { @class = "text-danger" })
                </div>
            <div class="col-md-3"></div>     
        </div>
        <br/>



@* zweite Zeile *@
        <div class="row">
            <div class="col-md-5 text-right">
                @Html.LabelFor(model => model.PasswortVerification, htmlAttributes: new { @class = "text" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.PasswortVerification, new { htmlAttributes = new { @class = "form-control", placeholder = "Passwort wiederholen" } })
                @Html.ValidationMessageFor(model => model.PasswortVerification, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 text-center">
                <div class="form-group ">
                    <div class="col-md-12">
                        <button type="submit" value="Abschicken" class="btn btn-success btn-block">
                            <i class="glyphicon glyphicon-envelope"></i> Abschicken
                        </button>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
