@model Caterer_DB.Models.ForgottenPasswordRequestViewModel

@{
    ViewBag.Title = "PasswordRequest";
}

<h2>Password Vergessen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>@Html.ValidationSummary(true, "", new { @class = "text-danger", id = "VallidationSummary" })</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <h4><i class="glyphicon glyphicon-education "></i> Account</h4>
                <br />
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        </div>
}

