@using Caterer_DB.Models
@model DetailsBenutzerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Benutzer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anrede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anrede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BenutzerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
