@using Caterer_DB.Models
@model MeineDatenBenutzerViewModel

@{
    ViewBag.Title = "Meine Daten";
}

<br />
<br />
<br />
<div class="row">
    <div id="MitarbeiterBearbeitenSeite" class="col-md-6 col-md-offset-3 text-center">
        <h1>Meine Daten bearbeiten</h1>
    </div>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BenutzerId)

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h3>@Html.ValidationSummary(true, "", new { @class = "text-danger", id = "VallidationSummary" })</h3>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="well well-lg">
                            <h4><i class="glyphicon glyphicon-user "></i> Mitarbeiter</h4>
                            <br />
                            <div class="row">
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Anrede, htmlAttributes: new { @class = "control-label " })
                                        @Html.DropDownList("Anrede", Model.Anreden, new { @class = "form-control prefilled ng-untouched ng-pristine ng-valid" })
                                        @Html.ValidationMessageFor(model => model.Anrede, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <ul class="list-unstyled list-inline " style="margin-left: -5px;">
                    <li>
                        <button type="submit" id="btnSpeichern" name="btnSave" value="Speichern" class="btn btn-default">
                            <i class="glyphicon glyphicon-ok"></i> Speichern
                        </button>
                    </li>
                    <li>
                        <a class="btn btn-default" href="/Benutzer/index"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <ul class="list-unstyled list-inline text-right">

                    <li>
                        <button id="LöschenButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#deleteModal">
                            <i class="glyphicon glyphicon-trash"></i> Konto löschen
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button id="LöschenCancel" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="LöschenBest" class="modal-title">Löschen bestätigen</h4>
                </div>
                <div class="modal-body">
                    <p>Wollen Sie ihren Account jetzt löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnModalDelete" name="btnModalDelete" value="Delete">Ja</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" id="btnModalCancel" name="btnModalCancel" value="Cancel">Nein</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}