@model Caterer_DB.Models.MyDataBenutzerViewModel

@{
    ViewBag.Title = "MyData";
}

<h2>Meine Daten</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
  
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BenutzerId)
        @Html.HiddenFor(model => model.Mail)
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled list-inline " style="margin-left: -5px;">
                    <li>
                        <button type="submit" id="btnSpeichern" name="btnConfig" value="Speichern" class="btn btn-primary">
                            <i class="glyphicon glyphicon-save"></i> Speichern
                        </button>
                    </li>

                    <li>
                        <a class="btn btn-default" href="/home/index"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well well-lg">
                    <h4><i class="glyphicon glyphicon-list "></i> Firma</h4>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Firmenname, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Firmenname, new { htmlAttributes = new { @class = "form-control", placeholder = "Firmenname" } })
                            @Html.ValidationMessageFor(model => model.Firmenname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Organisationsform, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Organisationsform, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Organisationsform, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Straße, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Straße, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Straße, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Postleitzahl, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Postleitzahl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Postleitzahl, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Ort, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Ort, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ort, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-lg">
                    <h4><i class="glyphicon glyphicon-user "></i> Ansprechpartner</h4>
                    <br />
                    <div class="row">

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Anrede, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Anrede, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Anrede, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Vorname, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Vorname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Nachname, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Nachname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nachname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.FunktionAnsprechpartner, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.FunktionAnsprechpartner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FunktionAnsprechpartner, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well well-lg">
                    <h4><i class="glyphicon glyphicon-earphone"></i> Erreichbarkeit</h4>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Internetadresse, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Internetadresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Internetadresse, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well well-lg">
                    <h4><i class="glyphicon glyphicon-earphone"></i> Sonstiges</h4>
                    <br />
                    <div class="row">

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Lieferumkreis, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.Lieferumkreis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Lieferumkreis, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </div>
        </div>

        

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
