@using DataAccess.Model
@using Caterer_DB.Models
@model VergleichCatererViewModel

@{
    ViewBag.Title = "VergleichCaterer";
}


<h2>Caterer im Vergleich</h2>



@*-------------------Version Sebastian---------------------*@
<h1>-------------------Version Sebastian---------------------</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-3">
                    <span>Firmenname</span>
                </div>

                @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                    <div class="col-md-3">
                        <span>@caterer.Firmenname</span>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span>Organisationsform</span>
                </div>

                @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                    <div class="col-md-3">
                        <span>@caterer.Organisationsform</span>
                    </div>
                }
            </div>
            @foreach (List<Frage> kategorieFragen in Model.Fragen)
            {



                <div class="row">
                    <div class="col-md-12">

                    </div>

                </div>
                for (int j = 0; j < kategorieFragen.Count; j++)
                {
                    <div class="row ">
                        <div class="col-md-3">
                            @kategorieFragen[j].Bezeichnung
                        </div>
                        @foreach (DetailsCatererViewModel caterer in Model.caterer)
                        {
                            <div class="col-md-3">
                                @foreach (FragenNachThemengebiet cFrageNachKategorie in caterer.Fragen)
                                {
                                    foreach (FragenViewModel cFrage in cFrageNachKategorie.Questions)
                                    {
                                        if (cFrage.ID == kategorieFragen[j].FrageId)
                                        {
                                            if (cFrage.IstMultiSelect)
                                            {
                                                foreach (Antwort antwort in cFrage.Antworten)
                                                {
                                                    if (antwort.IsChecked)
                                                    {
                                                        <span>- @antwort.Bezeichnung</span><br />
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                foreach (Antwort antwort in cFrage.Antworten)
                                                {
                                                    if (antwort.AntwortId == cFrage.GegebeneAntwort)
                                                    {
                                                        <span>- @antwort.Bezeichnung</span><br />
                                                    }
                                                }
                                            }


                                        }


                                    }

                                }
                            </div>

                        }
                    </div>
                }

            }

            <div class="row">

            </div>
        </div>
    </div>
</div>






@*-------------------Version Kai---------------------*@
<h1>-------------------Version Kai---------------------</h1>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="well well-md">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span>Firmenname</span>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {

                    <div class="col-md-2">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-default" @*href="@Url.Action("DetailsCaterer", "Benutzer", new {id = Model.ResultListCaterer.Entitäten[i].BenutzerId})"*@ title="Details"><i class="glyphicon glyphicon-search"></i></a>
                            <a class="btn btn-default" @*href="@Url.Action("DetailsCaterer", "Benutzer", new {id = Model.ResultListCaterer.Entitäten[i].BenutzerId})"*@ title="Löschen"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <b> <span>@caterer.Firmenname</span></b>
                            </div>
                        </div>

                    </div>

                }
            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <div class="well well-md">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span>Organisationsform</span>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span>@caterer.Organisationsform</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />







            @foreach (List<Frage> kategorieFragen in Model.Fragen)
            {


                for (int j = 0; j < kategorieFragen.Count; j++)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-md">
                                <div class="row ">
                                    <div class="col-md-12 text-center">
                                        @kategorieFragen[j].Bezeichnung
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (DetailsCatererViewModel caterer in Model.caterer)
                    {

                            <div class="col-md-2">
                                <div class="row ">
                                    <div class="col-md-12 text-center">
                                        @foreach (FragenNachThemengebiet cFrageNachKategorie in caterer.Fragen)
                                        {
                                            foreach (FragenViewModel cFrage in cFrageNachKategorie.Questions)
                                            {
                                                if (cFrage.ID == kategorieFragen[j].FrageId)
                                                {
                                                    if (cFrage.IstMultiSelect)
                                                    {
                                                        foreach (Antwort antwort in cFrage.Antworten)
                                                        {
                                                            if (antwort.IsChecked)
                                                            {
                                                                <span>- @antwort.Bezeichnung</span><br />
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        foreach (Antwort antwort in cFrage.Antworten)
                                                        {
                                                            if (antwort.AntwortId == cFrage.GegebeneAntwort)
                                                            {
                                                                <span>- @antwort.Bezeichnung</span><br />
                                                            }
                                                        }
                                                    }


                                                }


                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <hr />
                }
                

            }
            
        </div>
        
    </div>
    <div class="col-md-12 text-center">
        <a class="btn btn-default" id="btnZurück" href="/Benutzer/indexCaterer"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
    </div>
</div>








@*
    @foreach (List<Frage> kategorieFragen in Model.Fragen)
    {

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        for (int j = 0; j < kategorieFragen.Count; j++)
        {
            <div class="row ">
                <div class="col-md-3">
                    @kategorieFragen[j].Bezeichnung
                    <hr />
                </div>
                @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                    <div class="col-md-3">
                        @foreach (FragenNachThemengebiet cFrageNachKategorie in caterer.Fragen)
                        {
                            foreach (FragenViewModel cFrage in cFrageNachKategorie.Questions)
                            {
                                if (cFrage.ID == kategorieFragen[j].FrageId)
                                {
                                    if (cFrage.IstMultiSelect)
                                    {
                                        foreach (Antwort antwort in cFrage.Antworten)
                                        {
                                            if (antwort.IsChecked)
                                            {
                                                <span>- @antwort.Bezeichnung</span><br />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        foreach (Antwort antwort in cFrage.Antworten)
                                        {
                                            if (antwort.AntwortId == cFrage.GegebeneAntwort)
                                            {
                                                <span>- @antwort.Bezeichnung</span><br />
                                            }
                                        }
                                    }


                                }


                            }

                        }
                    </div>

                }
            </div>
        }

    }

    <div class="row">

    </div>*@
