@using DataAccess.Model
@using Caterer_DB.Models
@model VergleichCatererViewModel

@{
    ViewBag.Title = "VergleichCaterer";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Caterer im Vergleich</h1>
    </div>
</div>
<br />
@if (Model.caterer.Count != 0)
{
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="well well-lg">
                <div class="row">
                   
                    @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <b> <span>@caterer.Firmenname</span></b>
                                </div>
                            </div>

                        </div>

                    }
                </div>
                <hr />
                <div class="row">
                   
                    @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>@caterer.Organisationsform</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <div class="row">
                    @foreach (DetailsCatererViewModel caterer in Model.caterer)
                {
                    var idsLocal = "";
                    foreach (DetailsCatererViewModel catererInner in Model.caterer)
                    {
                        if (caterer.BenutzerId != catererInner.BenutzerId)
                        {
                            if (idsLocal == "")
                            {
                                idsLocal += catererInner.BenutzerId;
                            }
                            else
                            {
                                idsLocal += "," + catererInner.BenutzerId;
                            }
                        }
                    }

                    <div class="col-md-4">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-default" href="@Url.Action("DetailsCaterer", "Benutzer", new { id = caterer.BenutzerId })" title="Details"><i class="glyphicon glyphicon-search"></i></a>
                            <a class="btn btn-default" href="@Url.Action("VergleichCaterer", "Benutzer", new { ids = idsLocal })" title="von Vergleich entefernen"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>

                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
               
                @foreach (List<Frage> kategorieFragen in Model.Fragen)
                {
                    for (int j = 0; j < kategorieFragen.Count; j++)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @*<div class="well well-md">*@
                                <div class="row ">
                                    <div class="col-md-12 text-left">
                                        <b>@kategorieFragen[j].Bezeichnung</b>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @foreach (DetailsCatererViewModel caterer in Model.caterer)
                        {
                                <div class="col-md-2">
                                    <div class="row ">
                                        <div class="col-md-12 text-center">
                                            @foreach (FragenNachThemengebiet cFrageNachKategorie in caterer.Fragen)
                                            {
                                                foreach (FragenViewModel cFrage in cFrageNachKategorie.Questions)
                                                {
                                                    if (cFrage.ID == kategorieFragen[j].FrageId)
                                                    {
                                                        if (cFrage.IstMultiSelect)
                                                        {
                                                            foreach (Antwort antwort in cFrage.Antworten)
                                                            {
                                                                if (antwort.IsChecked)
                                                                {
                                                                    <span>- @antwort.Bezeichnung</span><br />
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            foreach (Antwort antwort in cFrage.Antworten)
                                                            {
                                                                if (antwort.AntwortId == cFrage.GegebeneAntwort)
                                                                {
                                                                    <span>- @antwort.Bezeichnung</span><br />
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                                    <hr />
                    }
                }
               
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 text-center">
            <a class="btn btn-default btn-block" id="btnZurück" href="/Benutzer/indexCaterer"><i class="glyphicon glyphicon-backward"></i> Zurück</a>
        </div>
    </div>


}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-md-12 text-center ">
                        <h4 class="text-danger">Es wurden keine Caterer gewählt, Bitte gehen Sie zurück und wählen Caterer für den Vergleich aus</h4>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-offset-5 col-md-2">
                        <a href="/Benutzer/IndexCaterer" class="btn btn-default btn-block"><i class="glyphicon glyphicon-user"></i> Caterer Übersicht </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



}


