@model Caterer_DB.Models.AnmeldenBenutzerViewModel
@using Common.Resources
@{
    ViewBag.Title = "Startseite";
}

<body class="mybg-Startseite">
</body>
<br />
<br />
<br />

@if (TempData["isAccountDeleted"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center " id="Gelöscht">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Account wurde erfolgreich gelöscht!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isSaved"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="Gespeichert">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihre Daten wurden erfolgreich gespeichert!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isPasswordChanged"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="Passwort">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Passwort wurde erfolgreich geändert!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isSavedFragebogen"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center " id="Gelöscht">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Fragebogen wurde erfolgreich gespeichert!</H2></div>
            </div>
        </div>
    </div>
}

<br />
<div class="row">
    @if (Request.IsAuthenticated)
            {
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-sm">
                <div class="row text-center">
                    <div class="col-md-offset-1 col-md-10" id="Willkommen">
                        <h2>Willkommen @Model.Vorname @Model.Nachname</h2>

                        @if (User.HatDasRecht(RechteResource.TestBlock1))
                {
                            <h4 class="text-danger">Ich bin Mitglied der Gruppe Administratoren</h4>
                            <br />

                        }

                        else if (User.HatDasRecht(RechteResource.TestBlock2))
                        {
                            <h4 class="text-danger">Ich bin Mitglied der Gruppe Mitarbeiter</h4>
                            <br />

                        }
                        @if (User.HatDieRolle(BenutzerGruppenResource.Caterer) && Model.OffeneFragen != 0)
                        {
                            <h4 class="text-danger"> Ihr Fragebogen enthält @Model.OffeneFragen offene Fragen.</h4>
                            <br />

                        }
                    </div>
                </div>
            </div>
        </div>
        <div style="height:400px"></div>
    }
    <br />

    @if (!Request.IsAuthenticated)
    {
        <div class="col-md-offset-1 col-md-10">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">

                        <h3>
                            Herzlich Willkommen auf der Seite der Caterer-Datenbank der Vernetzungsstelle Schulverpflegung Niedersachsen
                            <br />
                            <br />
                        </h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <span style="color:black">

                            Mit der Datenbank möchten wir Caterer und Schulen zusammenbringen und eine flächendeckende Versorgung der
                            Schulen mit einer guten Schulverpflegung unterstützen. Daher freuen wir uns besonders, wenn Sie als Caterer für die
                            Schulverpflegung Ihr Angebot darstellen, aktualisieren und bereit sind, dass wir Ihre Daten im Bedarfsfall an Schulen oder
                            auch Schulträger weiterleiten dürfen. <br />
                            <br />
                            Registrieren können sich alle Anbieter von Schulverpflegung, die Ihr Essen entweder den Schulen anliefern oder eine Mensa vor Ort betreiben
                            und dieses Angebot weiteren Schulen unterbreiten möchten. Alle Verpflegungssysteme sind möglich. Die Registrierung und Nutzung der Datenbank ist für Sie kostenlos.
                            Die Verwaltung Ihrer Daten ist für Sie zu jedem Zeitpunkt transparent.
                            Zugriff auf Ihre Daten haben lediglich die Mitarbeiterinnen der Vernetzungsstelle Schulverpflegung. Näheres dazu finden Sie in den Datenschutzbestimmungen und AGB´s.<br />
                            <br />
                            Wir bedanken uns für Ihr Vertrauen und Interesse am Gelingen der Schulverpflegung in Niedersachsen.
                            Für Fragen zu der Caterer-Datenbank und der Registrierung stehen wir Ihnen unter unseren Kontaktdaten gerne zur Verfügung.<br />
                            <br />
                            <b>Das Team der Vernetzungsstelle Schulverpflegung Niedersachsen</b>
                        </span>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "loginLinkbutton" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Registrierung", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "registerLink" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    }
    <br />
    <br />
    <br />
</div>