@model Caterer_DB.Models.AnmeldenBenutzerViewModel
@using Caterer_DB.Resources
@{
    ViewBag.Title = "Startseite";
}

@*Hintergrundbild ohne Verblassen auf Startseite*@
<body style="background-image:url(../Content/Images/Hg100_1024.png);
background-size: 1024px auto;
background-attachment: fixed ;
background-repeat: no-repeat;
background-position:center;">
</body>
<br />
<br />
<br />

@if (TempData["isAccountDeleted"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center " id="Gelöscht">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Account wurde erfolgreich gelöscht!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isSaved"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="Gespeichert">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihre Daten wurden erfolgreich gespeichert!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isPasswordChanged"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="Passwort">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Passwort wurde erfolgreich geändert!</H2></div>
            </div>
        </div>
    </div>
}

@if (TempData["isSavedFragebogen"] != null)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center " id="Gelöscht">
            <div class="well well-lg">
                <div class="text-center" role="alert"><H2>Ihr Fragebogen wurde erfolgreich gespeichert!</H2></div>
            </div>
        </div>
    </div>
}

<br />
<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <div class="well well-sm">
            @if (Request.IsAuthenticated)
            {

                <div class="row text-center">
                    <div class="col-md-offset-1 col-md-10" id="Willkommen">
                        <h2>Willkommen @Model.Vorname @Model.Nachname</h2>

                        @if (User.HatDasRecht(RechteResource.TestBlock1))
                {
                            <h4 class="text-danger">Ich bin Mitglied der Gruppe Administratoren</h4>
                        }
                        
                        else if (User.HatDasRecht(RechteResource.TestBlock2))
                        {
                            <h4 class="text-danger">Ich bin Mitglied der Gruppe Mitarbeiter</h4>
                        }
                        @if (User.HatDieRolle(BenutzerGruppenResource.Caterer) && Model.OffeneFragen != 0)
                        {
                            <h4 class="text-danger">
                                Ihr Fragebogen enthält @Model.OffeneFragen offene Fragen.
                            </h4>
                        }
                    </div>
                </div>
            }
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h3>@LoginResources.StartseiteTextÜberschrift <br /> </h3></div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-justify">
                    <span style="color:black"> @LoginResources.StartseiteText </span>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <br />
            @if (!Request.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "loginLinkbutton" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Registrierung", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "registerLink" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
            }
            <br />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />